---
import Layout from "@/layouts/base.astro";
---

<script is:inline type="module">
    const CATEGORIES = document.getElementById("categories");
    const CONTENTS = document.getElementById("contents");
    const CANVAS = document.getElementById("canvas");
    let previousCategory = "";

    for (const category of CATEGORIES.children) {
        category.addEventListener("click", () => {
            const contentsFound = CONTENTS.querySelector(`label[for="${category.name}"]`);

            if (contentsFound) {
                if (previousCategory === category.name) {
                    CANVAS.classList.toggle("opacity-0");

                    return;
                }

                const clonedContents = contentsFound.cloneNode(true);

                if (CANVAS.lastChild) {
                    CANVAS.removeChild(CANVAS.lastChild);
                }

                CANVAS.appendChild(clonedContents);
                CANVAS.classList.remove("opacity-0");

                previousCategory = category.name;
            }
        });
    }
</script>

<Layout>
    <div class="hidden" id="contents">
        <label class="flex w-full items-center justify-center" for="category-a">
            <p>Contents for category A</p>
        </label>

        <label class="flex w-full items-center justify-center" for="category-b">
            <p>Contents for category B</p>
        </label>

        <label class="flex w-full items-center justify-center" for="category-c">
            <p>Contents for category C</p>
        </label>
    </div>
</Layout>

<main class="flex h-screen w-screen items-center justify-between px-36">
    <div class="flex w-full flex-col gap-2" id="categories">
        <input
            class="whitespace-nowrap font-bold hover:cursor-pointer"
            name="category-a"
            type="button"
            value="Category A"
        />
        <input
            class="whitespace-nowrap font-bold hover:cursor-pointer"
            name="category-b"
            type="button"
            value="Category B"
        />
        <input
            class="whitespace-nowrap font-bold hover:cursor-pointer"
            name="category-c"
            type="button"
            value="Category C"
        />
    </div>

    <div class="w-full" id="canvas"></div>
</main>
