<head>
    <script type="module">
        const CATEGORIES = document.getElementById("categories");
        const CANVAS = document.getElementById("canvas");
        let previousCategory = "";

        const paintCanvasFor = category => {
            const contentsFound = CONTENTS.querySelector(`label[for="${category.name}"]`);

            if (contentsFound) {
                if (previousCategory === category.name) {
                    CANVAS.classList.toggle("opacity-0");
                    CANVAS.classList.toggle("h-0");

                    return;
                }

                if (CANVAS.lastChild) {
                    CANVAS.removeChild(CANVAS.lastChild);
                }

                for (const child of contentsFound.children) {
                    const clonedChild = child.cloneNode(true);

                    CANVAS.appendChild(clonedChild);
                }

                CANVAS.classList.remove("h-0");
                CANVAS.classList.remove("opacity-0");

                previousCategory = category.name;
            }
        };

        for (const category of CATEGORIES.children) {
            category.addEventListener("click", () => paintCanvasFor(category));
        }
    </script>
</head>

<body>
    <main class="flex h-screen w-screen items-center justify-between px-36">
        <div class="flex w-full flex-col gap-2" id="categories">
            <input
                class="whitespace-nowrap font-bold hover:cursor-pointer"
                name="category-a"
                type="button"
                value="Category A"
            />
            <input
                class="whitespace-nowrap font-bold hover:cursor-pointer"
                name="category-b"
                type="button"
                value="Category B"
            />
            <input
                class="whitespace-nowrap font-bold hover:cursor-pointer"
                name="category-c"
                type="button"
                value="Category C"
            />
        </div>

        <div class="w-full" id="canvas"></div>
    </main>
</body>
